:root {
  --black: #000;
  --white: #fff;
  --gray: #7a7a7a;
  --dark-gray: #0d0d0d;
}

/* GLOBAL STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--white);
  background-color: var(--black);
}

section {
  margin-top: 6rem;
}

h1 {
  font-size: 5.4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.4rem;
}

/* MOBILE NAV SECTION */
.mobile-bar {
  background: linear-gradient(
    90deg,
    #feecff 0%,
    #fecaff 11.71%,
    #feb5ff 26.8%,
    #ffdbe7 40.18%,
    #fff4d6 49.22%,
    #f3fcd7 58.71%,
    #d2f5ee 71.29%,
    #c3efff 84.44%,
    #fbefff 100%
  );
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem;
}

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.mobile-nav .logo {
  margin-left: 0;
  padding-left: 0;
}

/* HERO SECTION */
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.version-tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  margin: auto;
  outline: 1px solid #222222;
  border-radius: 10px;
  padding: 1rem 1.3rem;
}

.left p {
  color: rgba(255, 255, 255, 0.5);
}

.right {
  display: flex;
  align-items: center;
}

.hero-title {
  text-align: center;
  padding: 3.2rem 0 3.2rem;
}

.hero-subtitle {
  text-align: center;
  font-weight: 100;
  max-width: 335px;
  padding: 0 3rem;
}

.cta {
  margin-top: 3.2rem;
  padding: 1.5rem 2rem;
  background: var(--white);
  color: var(--black);
  border-radius: 10px;
  font-weight: 500;
  font-size: 1.6rem;
  cursor: pointer;
}

/* COMPANIES SECTION */
.companies-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.companies-text {
  text-align: center;
  color: var(--gray);
  font-weight: 400;
  width: 185px;
  padding-top: 6rem;
  margin-bottom: 3.2rem;
}

.companies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 0 2rem;
}

.companies svg {
  width: 100%;
}

/* FEATURES SECTION */
.features-section {
  padding-top: 8rem;
}

.features-section h2 {
  text-align: center;
  padding: 2rem 0;
}

.features-section p {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 100;
  padding: 2rem 0 6.6rem;
}

.feature-card {
  text-align: center;
  background: var(--dark-gray);
  padding: 4rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.feature-card svg {
  padding-bottom: 2.4rem;
}

.feature-card p{
  padding-bottom: 4rem;
}

/* INTERFACE SECTION */
.interface-section img {
  width: 100%;
  border-radius: 10px;
}
