:root {
  --black: #000;
  --white: #fff;
  --gray: #7a7a7a;
  --dark-gray: #0d0d0d;
}

/* GLOBAL STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--white);
  background-color: var(--black);
}

section {
  margin-top: 6rem;
}

h1 {
  font-size: 5.4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

/* MOBILE NAV SECTION */
.mobile-bar {
  background: linear-gradient(
    90deg,
    #feecff 0%,
    #fecaff 11.71%,
    #feb5ff 26.8%,
    #ffdbe7 40.18%,
    #fff4d6 49.22%,
    #f3fcd7 58.71%,
    #d2f5ee 71.29%,
    #c3efff 84.44%,
    #fbefff 100%
  );
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem;
}

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.mobile-nav .logo {
  margin-left: 0;
  padding-left: 0;
}

.logo img {
  width: 62px;
  height: 55px;
}

/* DESKTOP NAV SECTION */
.desktop-bar {
  display: none;
}

.desktop-nav {
  display: none;
}

.desktop-nav .logo {
  margin-left: 0;
  padding-left: 0;
}

/* HERO SECTION */
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(
    #000000 0%,
    #200d42 55%,
    #4f21a1 75%,
    #a46edb 100%
  );
  overflow: hidden;
}

.version-tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
  font-size: 1.3rem;
  margin: auto;
  outline: 1px solid #222222;
  border-radius: 10px;
  padding: 1rem 1.3rem;
}

.left p {
  color: rgba(255, 255, 255, 0.5);
}

.right {
  display: flex;
  align-items: center;
}

.hero-title {
  text-align: center;
  padding: 3.2rem 0 3.2rem;
}

.hero-subtitle {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 100;
  max-width: 335px;
  padding: 0 3rem;
}

.cta {
  margin: 3.2rem 0 10rem;
  padding: 1.5rem 2rem;
  background: var(--white);
  color: var(--black);
  border-radius: 10px;
  font-weight: 500;
  font-size: 1.6rem;
  cursor: pointer;
  z-index: 1;
}

.ellipse {
  position: absolute;
  width: 200vw;
  height: 359px;
  /* left: calc(50% - 909px / 2 - 13.5px); */
  top: 472px;
  border-radius: 50%;
  background: radial-gradient(
    401.15% 103.55% at 50% 100%,
    #000000 69.36%,
    #9c67f4 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.2);
  transform: translateY(-10%);
  z-index: 0;
}

.img-container{
  display: none;
  
}

/* COMPANIES SECTION */
.companies-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.companies-text {
  text-align: center;
  color: var(--gray);
  font-weight: 400;
  width: 185px;
  padding-top: 6rem;
  margin-bottom: 3.2rem;
}

.companies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 0 2rem;
}

.companies svg {
  width: 100%;
}

/* FEATURES SECTION */
.features-section {
  padding: 8rem 1.6rem 0;
}

.features-title {
  text-align: center;
  padding: 2rem 0;
}

.features-subtitle {
  padding-bottom: 6.6rem;
  font-size: 2.2rem;
  text-align: center;
  font-weight: 100;
}

.features-description {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 100;
  padding-top: 2rem;
}

.features-card {
  margin: auto;
  text-align: center;
  background: var(--dark-gray);
  padding: 4rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin-bottom: 1.6rem;
  max-width: 360px;
}

.features-card svg {
  padding-bottom: 2.4rem;
}

/* INTERFACE SECTION */
.interface-section {
  padding: 13.4rem 1.6rem 0;
  background: linear-gradient(#000000 0%, #200d42 40%);
}

.interface-section img {
  width: 100%;
  border-radius: 10px;
  padding-bottom: 16.1rem;
}

.interface-title {
  text-align: center;
  padding-bottom: 2rem;
}

.interface-description {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 100;
  padding-bottom: 4rem;
}

/* FAQ SECTION */
.faq-section {
  background: linear-gradient(#200d42 50%, #000 100%);
  margin: 0;
  padding: 0 1.6rem 0;
}
.faq-title {
  text-align: center;
  padding-bottom: 2.9rem;
}

.faq-list {
  list-style: none;
}

.faq-item {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  justify-content: space-between;
}

.faq-item h5 {
  font-size: 1.8rem;
}

.divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

/* EMAIL SECTION */
.email-section {
  padding-top: 10.3rem;
}

.email-title {
  text-align: center;
  padding-bottom: 4rem;
}

.email-description {
  font-size: 1.6rem;
  font-weight: 100;
  text-align: center;
  padding: 0 2.9rem 4rem;
  margin: auto;
}

.email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 5.2rem;
  gap: 10px;
  padding-bottom: 7.4rem;
}

.email-form input {
  padding: 0.9rem 1.2rem;
  background: rgba(255, 255, 255, 0.2);
  width: 286px;
  height: 42px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1.6rem;
}

.email-form button {
  padding: 1rem 1.5rem;
  width: 286px;
  height: 39px;
  background: var(--white);
  color: var(--black);
  border-radius: 10px;
  font-weight: 500;
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
}

/* FOOTER SECTION */
footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}

footer p {
  padding: 5rem 0 0.8rem;
}

.social-icons {
  padding-bottom: 5rem;
}

/* MEDIA QUERIES */
@media screen and (min-width: 376px) {
  .faq-item h5 {
    padding-right: 1.6rem;
  }
}

@media screen and (min-width: 768px) {
  .hero-subtitle {
    max-width: 457px;
  }

  /* .tablet-bar {
    background: linear-gradient(
      90deg,
      #feecff 0%,
      #fecaff 11.71%,
      #feb5ff 26.8%,
      #ffdbe7 40.18%,
      #fff4d6 49.22%,
      #f3fcd7 58.71%,
      #d2f5ee 71.29%,
      #c3efff 84.44%,
      #fbefff 100%
    );
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.4rem;
    font-size: 1.4rem;
  } */

  .companies {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (min-width: 810px) {
  .desktop-bar {
    background: linear-gradient(
      90deg,
      #feecff 0%,
      #fecaff 11.71%,
      #feb5ff 26.8%,
      #ffdbe7 40.18%,
      #fff4d6 49.22%,
      #f3fcd7 58.71%,
      #d2f5ee 71.29%,
      #c3efff 84.44%,
      #fbefff 100%
    );
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.4rem;
    font-size: 1.4rem;
  }

  .mobile-bar {
    display: none;
  }

  .desktop-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
  }

  .mobile-nav {
    display: none;
  }

  .logo img {
    width: 182px;
    height: 52px;
  }

  .desktop-nav .cta {
    margin: 0;
    width: 115px;
    height: 39px;
    padding: 10px 14px;
  }

  .hero-title h1{
    font-size: 15rem;
    line-height: 120px;
  }

  .hero-title{
    padding-bottom: 1.6rem;
  }

  .img-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 900px;
    transform: translateY(-100px);
  }

  .img-container img:nth-child(1){
    width: 181.2px;
    height: 183px;
    margin-left: -4rem;
  }

  .img-container img:nth-child(2){
    width: 151.46px;
    height: 156px;
    margin-right: -2rem;
  }

  .companies-text {
    font-size: 1.4rem;
  }

  h2{
    font-size: 5.4rem;
  }

  .email-description {
    width: 500px;
  }

  .email-form {
    flex-direction: row;
  }

  .email-form button{
    width: 113px;
  }

  .email-section .img-container img{
    width: 150px;
    height: auto;
  }

  .email-section .img-container img:nth-child(1){
    transform: translate(38px, -300px);
  }

  .email-section .img-container img:nth-child(2){
    transform: translate(-21px, -140px);
  }

  footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .social-icons{
    padding: 2.3rem 4rem;
  }

  footer p{
    padding: 2.3rem 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .img-container img:nth-child(1){
    margin: 0;
  }

  .img-container img:nth-child(2){
    margin: 0;
  }

  .hero-section .img-container img{
    width: 200px;
    height: auto;
  }

  .img-container{
    width: 980px;
  }

  .email-section .img-container img{
    width: 225px;
    height: auto;
  }
}

/* TODO @ 1024px*/
/*  1. find a way to make imgs in header fixed in place next to title text
    2. grab full imgs for header and footer, increase their sizes, position them properly
    3. make companies grid one line
    4. make features cards flex row
    5. center faq list 
*/